@import "tailwindcss";

*,
*::before,
*::after{
  box-sizing:border-box;
}

html,
body,
#root{
  width:100%;
  margin:0;
  padding:0;
  overflow-x:hidden;
}

body{
  font-family:"Manrope",sans-serif;
  background:#F8FAFC;
  color:#0F172A;
}

img{
  max-width:100%;
  display:block;
}

a{
  text-decoration:none;
}